# Fundamentals of Data Analysis Assignment
## Autumn 2021

---
<br>

## Part 2 - CAO points

![CAO_logo](./Images/cao.png)
---

<br>

# A detailed comparison of CAO points in 2019, 2020, and 2021

The brief was to analyse the CAO points for the years 2019, 2020, and 2021. The main tasks were to download the data from the CAO website, analyse the data using pandas and also to use visualisations to help better explain this analysis.

<br>

### Downloading the data

The data can be found at the following links which we save as variables to be used later.

A quick glance at the file extensions tells us we are dealing with three different file types so scraping the data is going to involve a few different methods.

In [1]:
url2021 = 'http://www2.cao.ie/points/l8.php'
url2020 = 'http://www2.cao.ie/points/CAOPointsCharts2020.xlsx'
url2019 = 'http://www2.cao.ie/points/lvl8_19.pdf'

To begin we import all the necessary libraries for the analysis and visualisations. These are shortened as per convention and economy of space.

In [2]:
# basic data analysis
import pandas as pd

# plotting
import matplotlib.pyplot as plt

# Dates and times
import datetime as dt

# Regular expressions
import re

# HTTP requests
import requests as rq

# for downloading and saving excel file
import urllib.request as urlrq

# working with csv files
import csv

# for pdf files
import tabula

We're going to use a timestamp to name the different updates of the downloaded and saved files.

In [3]:
# get the current date and time
now = dt.datetime.now()

# format as a string
nowstr = now.strftime('%Y%m%d_%H%M%S')

<br>

## 2021 Points

The url - http://www2.cao.ie/points/l8.php - returns a plain text file. For analysis we need to download that, extract only the information we need, and then convert it to a csv file. The first part of code below uses the **requests** library to fetch the data. As the data is still being updated (at time of writing) we are using a timestamp created above to name the downloaded file. We use the **datetime** library for the current date and time which is then converted into a string using the **strftime** method. A path is created using this stringified datetime preceded by a folder data and CAO2021.

In [4]:
# fetch the cao url
resp = rq.get(url2021)

# Create a filepath for the original data using the datetime
path2021 = 'data/CAO2021_' + nowstr + '.html'

# confirm it's working (if we get a '200' response message)
resp

We then save the original file which the following code.

In [5]:
# save the original html file
with open(path2021, 'w') as f:
    f.write(resp.text)

During the lectures it was discovered that some characters weren't being displayed properly. The issues lay with the fadas in the Irish language words, plus a stray 'em' hyphen. The server stated that the page should be decoded with **iso-8859-1** but this didn't allow for these particular characters. We changed the decoding to **cp1252** which solved the issue.

In [6]:
# the server uses the wrong encoding, fix it
original_encoding = resp.encoding

# change to cp1252
resp.encoding = 'cp1252'

<br>

#### Using regular expressions to isolate the data we want

On inspection the file contains a lot of information we don't need for the analysis such as headings, links, college names, etc., so the next challenge was to isolate only what was needed, i.e. 1) course code 2) course name 3) points.
The following code uses a **regular expression** to identify only the lines that match the expression.
- ([A-Z]{2}[0-9]{3}) = represents course code - i.e. CW078
- followed by 2 spaces
- (.*) represents an amount of text - dot(.) = wildcard *=zero or more of

In [7]:
# compile the regular expression for matching lines
re_course = re.compile(r'([A-Z]{2}[0-9]{3})(.*)')

A function created in the lecture to isolate # and *. **need to work out how to use it!**

In [8]:
# function to isolate # and * 
# def points_to_array(s):
#     portfolio = ''
#     if s[0] == '#':
#         portfolio = '#'
#     random = ''
#     if s[-1] == '*':
#         portfolio = '*'
#     points = ''
#     for i in s:
#         if i.isdigit():
#             points = points + i
#     return [points, portfolio, random]

We create a new path for saving the extracted data as a csv file.

In [9]:
# path for csv file
path2021b = 'data/CAO2021_csv_' + nowstr + '.csv'

We then loop through these lines and save then to a csv file to be also stored in the **data** folder.

In [10]:
# keep track of courses
no_lines = 0

with open(path2021b, 'w') as f:
    # write a header row
    f.write(','.join(["Course_Code", "Course_Title", "PointsR1_2021", "PointsR2_2021"]) + '\n')
    # loop through lines of response
    for line in resp.iter_lines():
        # decode to cp1252
        dline = line.decode('cp1252')
        # match only the lines we want - ones representing courses
        if re_course.fullmatch(dline):
            # add to line counter
            no_lines = no_lines + 1
            # course code (first 5 characters)
            course_code = dline[:5]
            # course_title
            course_title = dline[7:57].strip()
            # round 1 points
            course_points = re.split(' +', dline[60:])
            if len(course_points) != 2:
                course_points = course_points[:2]
            # join the fields using a comma
            # split the line on 2 spaces or more
            linesplit = (course_code, course_title, course_points[0], course_points[1])
            f.write(','.join(linesplit) + '\n')

Just to confirm we have every line we need, we print out the total number of lines and then try to verify that online.

In [11]:
# prints the total number of lines    
print(f"Total number of lines is {no_lines}.")

Total number of lines is 949.

**N.B.** It was verified on 8/11 against the original data and we're good!

We open the new csv file with **pandas** to inspect.

In [12]:
# open the csv file and save to variable df2021
df2021 = pd.read_csv(path2021b, encoding='cp1252') 

# have a look
df2021

,Course_Code,Course_Title,PointsR1_2021,PointsR2_2021
0,AL801,Software Design for Virtual Reality and Gaming,300,NaN
1,AL802,Software Design in Artificial Intelligence for...,313,NaN
2,AL803,Software Design for Mobile Apps and Connected ...,350,NaN
3,AL805,Computer Engineering for Network Infrastructure,321,NaN
4,AL810,Quantity Surveying,328,NaN
...,...,...,...,...
944,WD211,Creative Computing,270,NaN
945,WD212,Recreation and Sport Management,262,NaN
946,WD230,Mechanical and Manufacturing Engineering,230,230
947,WD231,Early Childhood Care and Education,266,NaN
948,WD232,Business Information Systems,261,261

All looks good!

## 2020 Points

We move on to the 2020 points.
The 2020 data is already in an excel spreadsheet so a different approach is needed!
We first save the original data

In [13]:
# save the original file to disk
# create the path again using the datetime function
path2020 = 'data/CAO2020_' + nowstr + '.html'

urlrq.urlretrieve(url2020, path2020)

('data/CAO2020_20211124_120115.html',
 <http.client.HTTPMessage at 0x7fac6f877310>)

In [14]:
# Read and store content of an excel file from a URL - 
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html
# skip the first 10 rows
df2020 = pd.read_excel (url2020, skiprows=10)

# have a look
df2020

,CATEGORY (i.e.ISCED description),COURSE TITLE,COURSE CODE2,R1 POINTS,R1 Random *,R2 POINTS,R2 Random*,EOS,EOS Random *,EOS Mid-point,...,avp,v,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8
0,Business and administration,International Business,AC120,209,NaN,NaN,NaN,209,NaN,280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Humanities (except languages),Liberal Arts,AC137,252,NaN,NaN,NaN,252,NaN,270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arts,"First Year Art & Design (Common Entry,portfolio)",AD101,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arts,Graphic Design and Moving Image Design (portfo...,AD102,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arts,Textile & Surface Design and Jewellery & Objec...,AD103,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1459,Manufacturing and processing,Manufacturing Engineering,WD208,188,NaN,NaN,NaN,188,NaN,339,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1460,Information and Communication Technologies (ICTs),Software Systems Development,WD210,279,NaN,NaN,NaN,279,NaN,337,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1461,Information and Communication Technologies (ICTs),Creative Computing,WD211,271,NaN,NaN,NaN,271,NaN,318,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1462,Personal services,Recreation and Sport Management,WD212,270,NaN,NaN,NaN,270,NaN,349,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1463,Engineering and engineering trades,Mechanical and Manufacturing Engineering,WD230,253,NaN,NaN,NaN,253,NaN,369,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We can see that we have a lot more data than the 2021 version plus different headers. So straight away I'd like to rename the matching headers so we can look at both files together.

In [15]:
# change the necessary headers - Course_Code,Course_Title,PointsR1,PointsR2
df2020 = df2020.rename(columns={'COURSE TITLE': 'Course_Title', 'COURSE CODE2': 'Course_Code', 
                                'R1 POINTS': 'PointsR1_2020', 'R2 POINTS': 'PointsR2_2020'})
df2020

,CATEGORY (i.e.ISCED description),Course_Title,Course_Code,PointsR1_2020,R1 Random *,PointsR2_2020,R2 Random*,EOS,EOS Random *,EOS Mid-point,...,avp,v,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8
0,Business and administration,International Business,AC120,209,NaN,NaN,NaN,209,NaN,280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Humanities (except languages),Liberal Arts,AC137,252,NaN,NaN,NaN,252,NaN,270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arts,"First Year Art & Design (Common Entry,portfolio)",AD101,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arts,Graphic Design and Moving Image Design (portfo...,AD102,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arts,Textile & Surface Design and Jewellery & Objec...,AD103,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1459,Manufacturing and processing,Manufacturing Engineering,WD208,188,NaN,NaN,NaN,188,NaN,339,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1460,Information and Communication Technologies (ICTs),Software Systems Development,WD210,279,NaN,NaN,NaN,279,NaN,337,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1461,Information and Communication Technologies (ICTs),Creative Computing,WD211,271,NaN,NaN,NaN,271,NaN,318,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1462,Personal services,Recreation and Sport Management,WD212,270,NaN,NaN,NaN,270,NaN,349,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1463,Engineering and engineering trades,Mechanical and Manufacturing Engineering,WD230,253,NaN,NaN,NaN,253,NaN,369,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now to isolate the relevent rows and save them to a new csv file

In [16]:
# extract the relevent columns and reorder
df2020 = df2020[['Course_Code','Course_Title','PointsR1_2020','PointsR2_2020']]

# have a look
df2020

,Course_Code,Course_Title,PointsR1_2020,PointsR2_2020
0,AC120,International Business,209,NaN
1,AC137,Liberal Arts,252,NaN
2,AD101,"First Year Art & Design (Common Entry,portfolio)",#+matric,NaN
3,AD102,Graphic Design and Moving Image Design (portfo...,#+matric,NaN
4,AD103,Textile & Surface Design and Jewellery & Objec...,#+matric,NaN
...,...,...,...,...
1459,WD208,Manufacturing Engineering,188,NaN
1460,WD210,Software Systems Development,279,NaN
1461,WD211,Creative Computing,271,NaN
1462,WD212,Recreation and Sport Management,270,NaN
1463,WD230,Mechanical and Manufacturing Engineering,253,NaN

The new files look similar now but we can see straight away that 2020 has considerable more rows than 2021! Something we'll have to address later! In the meantime we save to a new file again using the timestamp to name the file.

In [17]:
# saving updated pandas dataframe as csv file
# creating path
path2020b = 'data/CAO2020_' + nowstr + '.csv'
# writing to csv
df2020.to_csv(path2020b)

<br>

## 2019 Points

These are in PDF format! A bit of googling found the tabula library which seems to deal with PDFs very easily. Quicker than Ian's lecture anyway! :)
Link to tabula - https://github.com/chezou/tabula-py

In [18]:
# access the pdf file using parameters in referenced link above
df = tabula.read_pdf(url2019, stream=True, pages="all")

# have a look
df

[   Course Code                             INSTITUTION and COURSE   EOS    Mid
 0          NaN                    Athlone Institute of Technology   NaN    NaN
 1        AL801    Software Design with Virtual Reality and Gaming   304  328.0
 2        AL802               Software Design with Cloud Computing   301  306.0
 3        AL803  Software Design with Mobile Apps and Connected...   309  337.0
 4        AL805        Network Management and Cloud Infrastructure   329  442.0
 5        AL810                                 Quantity Surveying   307  349.0
 6        AL820                 Mechanical and Polymer Engineering   300  358.0
 7        AL830                                    General Nursing   410  429.0
 8        AL832                                Psychiatric Nursing   387  403.0
 9        AL836                       Nutrition and Health Science   352  383.0
 10       AL837            Sports Science with Exercise Physiology   351  392.0
 11       AL838                                      Biotechnology   302  372.0
 12       AL839                                       Microbiology   322  371.0
 13       AL840                            Pharmaceutical Sciences   328  411.0
 14       AL841                Athletic and Rehabilitation Therapy   423  430.0
 15       AL842                              Bioveterinary Science   310  366.0
 16       AL843               Physical Activity and Health Science   310  330.0
 17       AL850                                           Business   307  356.0
 18       AL851                                   Business and Law   301  341.0
 19       AL852               Accounting (with optional placement)   290  346.0
 20       AL853                                 Accounting and Law   305  320.0
 21       AL855  Hospitality Management (with International pla...   312  357.0
 22       AL857                                  Digital Marketing   300  360.0
 23       AL860                               Social Care Practice   309  338.0
 24       AL861             Animation and Illustration (portfolio)  #615  899.0
 25       AL863             Graphic and Digital Design (portfolio)  #703  898.0
 26       AL864                     Early Years Care and Education   307  348.0
 27       AL870                                 Applied Psychology   409  445.0
 28         NaN                    Institute of Technology, Carlow   NaN    NaN
 29       CW018                        Business (options, Wexford)   327  349.0
 30       CW028       Early Childhood Education and Care (Wexford)   252  308.0
 31       CW038                           Art (portfolio, Wexford)  #700  700.0
 32       CW058             Tourism and Event Management (Wexford)   252  262.0
 33       CW068  Applied Social Studies - Professional Social C...   251  280.0
 34       CW078  Sustainable Farm Management and Agribusiness (...   266  320.0
 35       CW088         Visual Communications and Design (Wexford)   309  345.0
 36       CW108                                  Science (options)   261  326.0
 37       CW128                             Brewing and Distilling   271  298.0
 38       CW178                            Sport Science (options)   399  424.0
 39       CW188          Sport Rehabilitation and Athletic Therapy   454  473.0
 40       CW208                         Computer Games Development   281  338.0
 41       CW238                               Software Development   300  343.0
 42       CW248                  Information Technology Management   307  357.0,
     CW258                         Cybercrime and IT Security   300     328
 0   CW268    Computing in Interactive Digital Art and Design   274   321.0
 1   CW438                             Construction (options)   271   308.0
 2   CW468                           Architectural Technology   252   290.0
 3   CW478                                  Civil Engineering   348   383.0
 4   CW548                             Mechanical Engineering   310   351.0
 5   CW558                                 Electronic Systems   279   338.0
 6   CW568                              Aerospace Engineering   366   422.0
 7   CW578                            TV and Media Production   327   361.0
 8   CW708                                          Law - LLB   298   328.0
 9   CW728                          Product Design Innovation   286   355.0
 10  CW748                 Early Childhood Education and Care   265   338.0
 11  CW758  Applied Social Studies - Professional Social Care   290   319.0
 12  CW808                         Media and Public Relations   248   307.0
 13  CW848                   Digital Marketing with Analytics   279   307.0
 14  CW858  Sports Management and Coaching (options, portf...  #700   700.0
 15  CW908                                 Business (options)   260   307.0
 16  CW938                                  Business with Law   270   288.0
 17  CW948                                         Accounting   301   408.0
 18    NaN                      Carlow College, St. Patrick`s   NaN     NaN
 19  PC405            Social, Political and Community Studies   251   296.0
 20  PC410  Arts and Humanities (fulfils Teaching Council ...   203   289.0
 21  PC411  English and History (fulfils Teaching Council ...   168   289.0
 22    NaN                       Cork Institute of Technology   NaN     NaN
 23  CR105         Chemical and Biopharmaceutical Engineering   432   498.0
 24  CR106                               Software Development   351   393.0
 25  CR108                             Mechanical Engineering   425   487.0
 26  CR109                             Structural Engineering   341   467.0
 27  CR110      Automotive Business Management and Technology   318   347.0
 28  CR112                             Creative Digital Media   335   389.0
 29  CR116                                   Computer Systems   318   381.0
 30  CR121                  Music at CIT Cork School of Music  #633  1052.0
 31  CR125  Popular Music: Electric Bass Guitar at CIT Cor...  #972  1021.0
 32  CR126   Popular Music: Drums at CIT Cork School of Music  #878  1043.0
 33  CR127  Popular Music: Electric Guitar at CIT Cork Sch...  #584   761.0
 34  CR128  Popular Music: Keyboards at CIT Cork School of...  #839  1009.0
 35  CR129   Popular Music: Voice at CIT Cork School of Music  #857   927.0
 36  CR130                                    Musical Theatre  #500   600.0
 37  CR150                       Business Information Systems   326   371.0
 38  CR210  Contemporary Applied Art (Ceramics, Glass, Tex...  #979   979.0
 39  CR220  Fine Art at CIT Crawford College of Art and De...  #620   819.0
 40  CR225                         Photography with New Media  #920   920.0
 41  CR305                   Physical Sciences (Common Entry)   279   309.0
 42  CR310                                      IT Management   282   317.0
 43  CR320  Biomedical Science (Offered jointly by CIT and...   546   556.0
 44  CR325                       Pharmaceutical Biotechnology   388   422.0
 45  CR333                       Nutrition and Health Science   360   393.0
 46  CR335                 Biological Sciences (Common Entry)   381   419.0
 47  CR340        Analytical Chemistry with Quality Assurance   288   315.0
 48  CR360                             Instrument Engineering   291   329.0
 49  CR365   Environmental Science and Sustainable Technology   334   362.0
 50  CR370                                   Agri-Biosciences   408   431.0
 51  CR400                                         Accounting   316   389.0
 52  CR420                                          Marketing   288   329.0
 53  CR425               International Business with Language   300   392.0,
     CR500                         Engineering (Common Entry)   381    424
 0   CR510                     Sustainable Energy Engineering   319  343.0
 1   CR520                             Biomedical Engineering   434  477.0
 2   CR560                           Architectural Technology   288  332.0
 3   CR565                              Interior Architecture   336  390.0
 4   CR570                                 Quantity Surveying   279  342.0
 5   CR572                            Construction Management   253  300.0
 6   CR580                             Electrical Engineering   344  374.0
 7   CR590                             Electronic Engineering   342  411.0
 8   CR600                              Visual Communications  #587  888.0
 9   CR660                                 Tourism Management   249  290.0
 10  CR700  Theatre and Drama Studies at CIT Cork School o...  #768  906.0
 11    NaN                      University College Cork (NUI)   NaN    NaN
 12  CK101                                     Arts - 3 years   300  368.0
 13  CK102                                     Social Science   391  431.0
 14  CK104  Arts with Music - 3 or 4 years (BMus or Chines...  #340  409.0
 15  CK105  Film and Screen Media - 3 years or 4 years (In...   397  442.0
 16  CK107  Geographical and Archaeological Sciences - 3 o...   326  388.0
 17  CK108                       Arts International - 4 years   429  466.0
 18  CK109  English - 3 years or 4 years (International Pa...   347  423.0
 19  CK110                                    World Languages   456  506.0
 20  CK111                  Early Years and Childhood Studies   398  429.0
 21  CK112  Theatre and Performative Practices - 3 or 4 ye...  #324  470.0
 22  CK113  Criminology - 3 years or 4 years (Internationa...   408  430.0
 23  CK114  Social Science (Youth and Community Work) - 3 ...     #    NaN
 24  CK115               Social Work - Mature Applicants only     #    NaN
 25  CK116              Sports Studies and Physical Education   499  520.0
 26  CK118  Digital Humanities and IT - 3 or 4 years (Work...   307  361.0
 27  CK120                                 Applied Psychology   506  532.0
 28  CK121  Psychology and Computing - 3 or 4 years (Work ...   393  466.0
 29  CK122                   Government and Political Science   355  410.0
 30  CK201                                           Commerce  465*  489.0
 31  CK202                                         Accounting   467  506.0
 32  CK203                       Business Information Systems   409  444.0
 33  CK204                                            Finance   531  555.0
 34  CK205               Commerce (International) with French   409  473.0
 35  CK206               Commerce (International) with German   408  446.0
 36  CK207              Commerce (International) with Italian   408  425.0
 37  CK208     Commerce (International) with Hispanic Studies   431  455.0
 38  CK209                Commerce (International) with Irish   509  528.0
 39  CK211      Commerce (International) with Chinese Studies   398  420.0
 40  CK212  Economics (Transformational Learning) - 3 or 4...   400  429.0
 41  CK301                     Law (Pathways) -  3 or 4 years   476  519.0
 42  CK302                                     Law and French   453  531.0
 43  CK304                                      Law and Irish   462  510.0
 44  CK307                                   Law and Business   522  554.0
 45  CK401                                   Computer Science   402  456.0
 46  CK402                   Biological and Chemical Sciences   498  520.0
 47  CK404       Biological, Earth and Environmental Sciences   412  451.0
 48  CK405                                           Genetics   476  496.0
 49  CK406                                  Chemical Sciences   457  488.0
 50  CK407                              Mathematical Sciences   531  578.0
 51  CK408                           Physics and Astrophysics   511  566.0
 52  CK409  Industrial Physics (offered jointly by UCC and...   413  532.0
 53  CK411                         Data Science and Analytics   509  542.0,
     CK412                               Agricultural Science   457    509
 0   CK502                Food Marketing and Entrepreneurship   433  456.0
 1   CK504                               Nutritional Sciences   492  509.0
 2   CK505                                       Food Science   444  477.0
 3   CK506          International Development and Food Policy   367  410.0
 4   CK600                                        Engineering   465  532.0
 5   CK606      Architecture (offered jointly by UCC and CIT)   465  496.0
 6   CK701     Medicine (Undergraduate Entry - HPAT required)  #729  740.0
 7   CK702                                          Dentistry   590  613.0
 8   CK703                                           Pharmacy   577  589.0
 9   CK704                               Occupational Therapy  532*  554.0
 10  CK705                        Speech and Language Therapy   509  529.0
 11  CK706                             Public Health Sciences   419  451.0
 12  CK707                        Medical and Health Sciences  510*  543.0
 13  CK710                                    General Nursing   440  466.0
 14  CK712        Children`s and General Nursing (Integrated)   499  520.0
 15  CK720                              Mental Health Nursing   398  429.0
 16  CK730                    Intellectual Disability Nursing   359  388.0
 17  CK740                                          Midwifery   444  474.0
 18  CK791       Medicine  - Graduate Entry (GAMSAT required)  #58*   59.0
 19    NaN                                   American College   NaN    NaN
 20  AC120                             International Business   234  269.0
 21  AC137                                       Liberal Arts   252  275.0
 22    NaN                                 CCT College Dublin   NaN    NaN
 23  CT125                             Information Technology   235  280.0
 24    NaN                      Marino Institute of Education   NaN    NaN
 25  CM001                       Education - Primary Teaching  452*  462.0
 26  CM002  Education - Primary Teaching - Gaeltacht Appli...  #421  440.0
 27  CM003  Oideachas - Bunmhúinteoireacht Trí Mheán na Ga...  #491  506.0
 28  CM004  Oideachas - Bunmhúinteoireacht Trí Mheán na Ga...  #492  569.0
 29  CM010                                  Education Studies   317  373.0
 30  CM020                          Early Childhood Education   336  363.0
 31    NaN                             Dublin Business School   NaN    NaN
 32  DB500                                          Computing   242  320.0
 33  DB501                        Computing (Cloud Computing)   326  329.0
 34  DB502            Computing (Data Analytics and Big Data)   269  269.0
 35  DB503                   Computing (Software Development)   242  282.0
 36  DB504              Computing (Web and Mobile Technology)   227  269.0
 37  DB510      Audio Production and Music Project Management   233  293.0
 38  DB512                                   Business Studies   229  301.0
 39  DB514                             Business Studies (Law)   269  337.0
 40  DB515       Business Studies (Human Resource Management)   225  288.0
 41  DB516                                 Financial Services   328  336.0
 42  DB517                                   Event Management   226  327.0
 43  DB518                          Marketing (Digital Media)   210  289.0
 44  DB521                             Accounting and Finance   225  271.0
 45  DB524                       Business Information Systems   402  402.0
 46  DB525      Marketing (Digital Media and Cloud Computing)   284  309.0
 47  DB526     Business Information Systems (Cloud Computing)   253  288.0
 48  DB527                                Applied Social Care   235  288.0
 49  DB531                                          Marketing   220  288.0
 50  DB562                                         Psychology   208  310.0
 51  DB566                                     Social Science   216  308.0
 52  DB567                                               Film   192  295.0
 53  DB568                                                Law   245  308.0,
     DB569                              Business (Psychology)   279    338
 0     NaN                             Dublin City University   NaN    NaN
 1   DC001              Education - Early Childhood Education   398  424.0
 2   DC002                       Education - Primary Teaching  462*  485.0
 3   DC003  Education - Primary Teaching - Gaeltacht Appli...  #433  473.0
 4   DC004  Education - Primary Teaching (Church of Irelan...  #357    NaN
 5   DC005  Education - Primary Teaching - Irish Sign Lang...  #316  316.0
 6   DC009                  Arts (Joint Honours) - Humanities   347  408.0
 7   DC010  Post Primary Teacher Education - Religious Edu...   386  413.0
 8   DC011  Post Primary Teacher Education - Religious Edu...   352  389.0
 9   DC012  Post Primary Teacher Education - Religious Edu...  #367  415.0
 10  DC013  Post Primary Teacher Ed - Gaeilge with French/...   410  509.0
 11  DC014      BA in Jazz and Contemporary Music Performance  #428  590.0
 12  DC110                     Business Studies International   440  462.0
 13  DC111                                   Business Studies   463  479.0
 14  DC112                           Global Business (France)   495  510.0
 15  DC113                          Global Business (Germany)   440  476.0
 16  DC114                            Global Business (Spain)   501  543.0
 17  DC115                             Accounting and Finance   487  500.0
 18  DC116                              Global Business (USA)   578  589.0
 19  DC117  Aviation Management / Aviation Management with...   463  487.0
 20  DC118              Gnó agus Gaeilge / Business and Irish   357  399.0
 21  DC119                           Global Business (Canada)   566  577.0
 22  DC120                               Enterprise Computing   350  389.0
 23  DC121                              Computer Applications   370  418.0
 24  DC123                                       Data Science   467  511.0
 25  DC126                              Actuarial Mathematics   520  543.0
 26  DC127  Common Entry into Actuarial and Financial Math...   509  531.0
 27  DC131                              Communication Studies   400  441.0
 28  DC132                                         Journalism   401  440.0
 29  DC133                                         Multimedia   403  451.0
 30  DC155           Applied Language and Translation Studies   371  430.0
 31  DC161                                 Analytical Science   446  463.0
 32  DC162               Chemical and Pharmaceutical Sciences   488  498.0
 33  DC166               Environmental Science and Technology   412  442.0
 34  DC167                             Physics with Astronomy   434  477.0
 35  DC168                          Genetics and Cell Biology   489  500.0
 36  DC171                                    Applied Physics   402  433.0
 37  DC173                   Physics with Biomedical Sciences   402  458.0
 38  DC181                                      Biotechnology   476  488.0
 39  DC190  Electronic and Computer Engineering (with choi...   391  433.0
 40  DC193                            Mechatronic Engineering   404  445.0
 41  DC195           Mechanical and Manufacturing Engineering   401  444.0
 42  DC197                             Biomedical Engineering   402  446.0
 43  DC200  Common Entry into Engineering (Undenominated E...   381  444.0
 44  DC201    Common Entry into Science (Undenominated Entry)   454  477.0
 45  DC202                           Sport Science and Health   467  476.0
 46  DC203                                  Science Education   424  476.0
 47  DC204                      Athletic Therapy and Training   484  500.0
 48  DC205                    Physical Education with Biology   490  521.0
 49  DC206                Physical Education with Mathematics   443  476.0
 50  DC208                                         Psychology   509  521.0
 51  DC209                                 Health and Society   419  440.0

Seems to work!  
Next to convert it to a csv file and name it using the timestamp method again, and save it to the data folder

In [19]:
# convert PDF into CSV file
tabula.convert_into(url2019, 'data/CAO2019_' + nowstr + '.csv', output_format="csv", pages='all')

Have a look

In [20]:
# reads in the csv file
df2019 = pd.read_csv("data/CAO2019_20211101_122559.csv")

# have a look
df2019

    Course Code                             INSTITUTION and COURSE  EOS  Mid
0           NaN                    Athlone Institute of Technology  NaN  NaN
1         AL801    Software Design with Virtual Reality and Gaming  304  328
2         AL802               Software Design with Cloud Computing  301  306
3         AL803  Software Design with Mobile Apps and Connected...  309  337
4         AL805        Network Management and Cloud Infrastructure  329  442
..          ...                                                ...  ...  ...
960       WD200                                     Arts (options)  221  296
961       WD210                       Software Systems Development  271  329
962       WD211                                 Creative Computing  275  322
963       WD212                    Recreation and Sport Management  274  311
964       WD230           Mechanical and Manufacturing Engineering  273  348

[965 rows x 4 columns]

We have an issue with the univeristy columns in that they are taking up rows! We need to be able to delete those rows. A bit of googling found the following solution - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html

In [21]:
# deletes rows where there are blanks
df2019 = df2019.dropna()

# have a look
df2019

    Course Code                             INSTITUTION and COURSE  EOS  Mid
1         AL801    Software Design with Virtual Reality and Gaming  304  328
2         AL802               Software Design with Cloud Computing  301  306
3         AL803  Software Design with Mobile Apps and Connected...  309  337
4         AL805        Network Management and Cloud Infrastructure  329  442
5         AL810                                 Quantity Surveying  307  349
..          ...                                                ...  ...  ...
960       WD200                                     Arts (options)  221  296
961       WD210                       Software Systems Development  271  329
962       WD211                                 Creative Computing  275  322
963       WD212                    Recreation and Sport Management  274  311
964       WD230           Mechanical and Manufacturing Engineering  273  348

[915 rows x 4 columns]

We also need to rename the headers to match the other years files, but we have an issue I think - we don't have the round 1 and round 2 points! According to https://www.independent.ie/life/family/learning/understanding-your-cao-course-guide-26505318.htmlINSTITUTION EOS is the *".. FINAL CUT-OFF points, in other word, the points score achieved by the last applicant being offered a place on that course in 2008. The second column gives the MID figure, that is, the points score of the applicant midwaybetween the highest and the lowest applicant being offered a place."*   
EOS roughly compares to Round 2 offers, so I will concentrate on that for the moment.

In [22]:
df2019 = df2019.rename(columns={'INSTITUTION and COURSE': 'Course_Title', 
                                'Course Code': 'Course_Code', 'EOS': 'EOS_2019'})
df2019

,Course_Code,Course_Title,EOS_2019,Mid
1,AL801,Software Design with Virtual Reality and Gaming,304,328
2,AL802,Software Design with Cloud Computing,301,306
3,AL803,Software Design with Mobile Apps and Connected...,309,337
4,AL805,Network Management and Cloud Infrastructure,329,442
5,AL810,Quantity Surveying,307,349
...,...,...,...,...
960,WD200,Arts (options),221,296
961,WD210,Software Systems Development,271,329
962,WD211,Creative Computing,275,322
963,WD212,Recreation and Sport Management,274,311
964,WD230,Mechanical and Manufacturing Engineering,273,348

In [23]:
path2019b = 'data/CAO2019_' + nowstr + '.csv'
# saving amended file to folder
df2019.to_csv(path2019b)

<br>

### Concat and join

*The following all from week08 lectures*

In [24]:
courses2021 = df2021[['Course_Code', 'Course_Title']]
courses2021

    Course_Code                                       Course_Title
0         AL801     Software Design for Virtual Reality and Gaming
1         AL802  Software Design in Artificial Intelligence for...
2         AL803  Software Design for Mobile Apps and Connected ...
3         AL805    Computer Engineering for Network Infrastructure
4         AL810                                 Quantity Surveying
..          ...                                                ...
944       WD211                                 Creative Computing
945       WD212                    Recreation and Sport Management
946       WD230           Mechanical and Manufacturing Engineering
947       WD231                 Early Childhood Care and Education
948       WD232                       Business Information Systems

[949 rows x 2 columns]

In [25]:
courses2020 = df2020[['Course_Code', 'Course_Title']]
courses2020

     Course_Code                                       Course_Title
0          AC120                             International Business
1          AC137                                       Liberal Arts
2          AD101   First Year Art & Design (Common Entry,portfolio)
3          AD102  Graphic Design and Moving Image Design (portfo...
4          AD103  Textile & Surface Design and Jewellery & Objec...
...          ...                                                ...
1459       WD208                          Manufacturing Engineering
1460       WD210                       Software Systems Development
1461       WD211                                 Creative Computing
1462       WD212                    Recreation and Sport Management
1463       WD230           Mechanical and Manufacturing Engineering

[1464 rows x 2 columns]

In [26]:
courses2019 = df2019[['Course_Code', 'Course_Title']]
courses2019

    Course_Code                                       Course_Title
1         AL801    Software Design with Virtual Reality and Gaming
2         AL802               Software Design with Cloud Computing
3         AL803  Software Design with Mobile Apps and Connected...
4         AL805        Network Management and Cloud Infrastructure
5         AL810                                 Quantity Surveying
..          ...                                                ...
960       WD200                                     Arts (options)
961       WD210                       Software Systems Development
962       WD211                                 Creative Computing
963       WD212                    Recreation and Sport Management
964       WD230           Mechanical and Manufacturing Engineering

[915 rows x 2 columns]

In [27]:
allCourses = pd.concat([courses2021, courses2020, courses2019], ignore_index=True)
allCourses

     Course_Code                                       Course_Title
0          AL801     Software Design for Virtual Reality and Gaming
1          AL802  Software Design in Artificial Intelligence for...
2          AL803  Software Design for Mobile Apps and Connected ...
3          AL805    Computer Engineering for Network Infrastructure
4          AL810                                 Quantity Surveying
...          ...                                                ...
3323       WD200                                     Arts (options)
3324       WD210                       Software Systems Development
3325       WD211                                 Creative Computing
3326       WD212                    Recreation and Sport Management
3327       WD230           Mechanical and Manufacturing Engineering

[3328 rows x 2 columns]

In [28]:
allCourses.sort_values('Course_Code')

     Course_Code                              Course_Title
175        AC120                    International Business
949        AC120                    International Business
2579       AC120                    International Business
950        AC137                              Liberal Arts
2580       AC137                              Liberal Arts
...          ...                                       ...
2412       WD230  Mechanical and Manufacturing Engineering
946        WD230  Mechanical and Manufacturing Engineering
3327       WD230  Mechanical and Manufacturing Engineering
947        WD231        Early Childhood Care and Education
948        WD232              Business Information Systems

[3328 rows x 2 columns]

In [29]:
allCourses[allCourses.duplicated(keep=False)]

     Course_Code                              Course_Title
4          AL810                        Quantity Surveying
5          AL811                         Civil Engineering
6          AL820        Mechanical and Polymer Engineering
7          AL830                           General Nursing
10         AL836              Nutrition and Health Science
...          ...                                       ...
3323       WD200                            Arts (options)
3324       WD210              Software Systems Development
3325       WD211                        Creative Computing
3326       WD212           Recreation and Sport Management
3327       WD230  Mechanical and Manufacturing Engineering

[2265 rows x 2 columns]

In [30]:
# copy of dataframe with duplicates removed
allCourses.drop_duplicates()

     Course_Code                                       Course_Title
0          AL801     Software Design for Virtual Reality and Gaming
1          AL802  Software Design in Artificial Intelligence for...
2          AL803  Software Design for Mobile Apps and Connected ...
3          AL805    Computer Engineering for Network Infrastructure
4          AL810                                 Quantity Surveying
...          ...                                                ...
3269       TL801         Animation Visual Effects and Motion Design
3270       TL802                            TV, Radio and New Media
3271       TL803                                   Music Technology
3274       TL812                       Computing with Digital Media
3309       WD148                                  Tourism Marketing

[1920 rows x 2 columns]

In [31]:
allCourses[allCourses.duplicated(subset=['Course_Code'])]

     Course_Code                                       Course_Title
949        AC120                             International Business
950        AC137                                       Liberal Arts
951        AD101   First Year Art & Design (Common Entry,portfolio)
952        AD102  Graphic Design and Moving Image Design (portfo...
953        AD103  Textile & Surface Design and Jewellery & Objec...
...          ...                                                ...
3323       WD200                                     Arts (options)
3324       WD210                       Software Systems Development
3325       WD211                                 Creative Computing
3326       WD212                    Recreation and Sport Management
3327       WD230           Mechanical and Manufacturing Engineering

[1679 rows x 2 columns]

In [32]:
# drop duplicates based on code
# inplace changes original dataframe - default is opposite
allCourses.drop_duplicates(subset=['Course_Code'], inplace=True, ignore_index=True)
allCourses

     Course_Code                                       Course_Title
0          AL801     Software Design for Virtual Reality and Gaming
1          AL802  Software Design in Artificial Intelligence for...
2          AL803  Software Design for Mobile Apps and Connected ...
3          AL805    Computer Engineering for Network Infrastructure
4          AL810                                 Quantity Surveying
...          ...                                                ...
1644       SG441                              Environmental Science
1645       SG446                                Applied Archaeology
1646       TL803                                   Music Technology
1647       TL812                       Computing with Digital Media
1648       WD148                                  Tourism Marketing

[1649 rows x 2 columns]

### Join to the points

In [33]:
df2021.set_index('Course_Code', inplace=True)
df2021.columns = ['Course_Title', 'PointsR1_2021', 'PointsR2_2021']
df2021

,Course_Title,PointsR1_2021,PointsR2_2021
Course_Code,,,
AL801,Software Design for Virtual Reality and Gaming,300,NaN
AL802,Software Design in Artificial Intelligence for...,313,NaN
AL803,Software Design for Mobile Apps and Connected ...,350,NaN
AL805,Computer Engineering for Network Infrastructure,321,NaN
AL810,Quantity Surveying,328,NaN
...,...,...,...
WD211,Creative Computing,270,NaN
WD212,Recreation and Sport Management,262,NaN
WD230,Mechanical and Manufacturing Engineering,230,230
WD231,Early Childhood Care and Education,266,NaN
WD232,Business Information Systems,261,261

In [34]:
allCourses.set_index('Course_Code', inplace=True)

In [35]:
allCourses = allCourses.join(df2021[['PointsR1_2021', 'PointsR2_2021']])
allCourses

,Course_Title,PointsR1_2021,PointsR2_2021
Course_Code,,,
AL801,Software Design for Virtual Reality and Gaming,300,NaN
AL802,Software Design in Artificial Intelligence for...,313,NaN
AL803,Software Design for Mobile Apps and Connected ...,350,NaN
AL805,Computer Engineering for Network Infrastructure,321,NaN
AL810,Quantity Surveying,328,NaN
...,...,...,...
SG441,Environmental Science,NaN,NaN
SG446,Applied Archaeology,NaN,NaN
TL803,Music Technology,NaN,NaN
TL812,Computing with Digital Media,NaN,NaN
WD148,Tourism Marketing,NaN,NaN

In [36]:
df2020_r1 = df2020[['Course_Code', 'PointsR1_2020', 'PointsR2_2020']]
df2020_r1

     Course_Code PointsR1_2020 PointsR2_2020
0          AC120           209           NaN
1          AC137           252           NaN
2          AD101      #+matric           NaN
3          AD102      #+matric           NaN
4          AD103      #+matric           NaN
...          ...           ...           ...
1459       WD208           188           NaN
1460       WD210           279           NaN
1461       WD211           271           NaN
1462       WD212           270           NaN
1463       WD230           253           NaN

[1464 rows x 3 columns]

In [37]:
df2020_r1.set_index('Course_Code', inplace=True)
df2020_r1

            PointsR1_2020 PointsR2_2020
Course_Code
AC120                 209           NaN
AC137                 252           NaN
AD101            #+matric           NaN
AD102            #+matric           NaN
AD103            #+matric           NaN
...                   ...           ...
WD208                 188           NaN
WD210                 279           NaN
WD211                 271           NaN
WD212                 270           NaN
WD230                 253           NaN

[1464 rows x 2 columns]

In [38]:
allCourses = allCourses.join(df2020_r1)
allCourses

,Course_Title,PointsR1_2021,PointsR2_2021,PointsR1_2020,PointsR2_2020
Course_Code,,,,,
AL801,Software Design for Virtual Reality and Gaming,300,NaN,303,NaN
AL802,Software Design in Artificial Intelligence for...,313,NaN,332,NaN
AL803,Software Design for Mobile Apps and Connected ...,350,NaN,337,NaN
AL805,Computer Engineering for Network Infrastructure,321,NaN,333,NaN
AL810,Quantity Surveying,328,NaN,319,NaN
...,...,...,...,...,...
SG441,Environmental Science,NaN,NaN,NaN,NaN
SG446,Applied Archaeology,NaN,NaN,NaN,NaN
TL803,Music Technology,NaN,NaN,NaN,NaN
TL812,Computing with Digital Media,NaN,NaN,NaN,NaN
WD148,Tourism Marketing,NaN,NaN,NaN,NaN

In [39]:
df2019_EOS = df2019[['Course_Code', 'EOS_2019']]
df2019_EOS

    Course_Code EOS_2019
1         AL801      304
2         AL802      301
3         AL803      309
4         AL805      329
5         AL810      307
..          ...      ...
960       WD200      221
961       WD210      271
962       WD211      275
963       WD212      274
964       WD230      273

[915 rows x 2 columns]

In [40]:
df2019_EOS.set_index('Course_Code', inplace=True)
df2019_EOS

            EOS_2019
Course_Code
AL801            304
AL802            301
AL803            309
AL805            329
AL810            307
...              ...
WD200            221
WD210            271
WD211            275
WD212            274
WD230            273

[915 rows x 1 columns]

In [41]:
allCourses = allCourses.join(df2019_EOS)
allCourses

,Course_Title,PointsR1_2021,PointsR2_2021,PointsR1_2020,PointsR2_2020,EOS_2019
Course_Code,,,,,,
AL801,Software Design for Virtual Reality and Gaming,300,NaN,303,NaN,304
AL802,Software Design in Artificial Intelligence for...,313,NaN,332,NaN,301
AL803,Software Design for Mobile Apps and Connected ...,350,NaN,337,NaN,309
AL805,Computer Engineering for Network Infrastructure,321,NaN,333,NaN,329
AL810,Quantity Surveying,328,NaN,319,NaN,307
...,...,...,...,...,...,...
SG441,Environmental Science,NaN,NaN,NaN,NaN,297
SG446,Applied Archaeology,NaN,NaN,NaN,NaN,289
TL803,Music Technology,NaN,NaN,NaN,NaN,264
TL812,Computing with Digital Media,NaN,NaN,NaN,NaN,369
WD148,Tourism Marketing,NaN,NaN,NaN,NaN,269

Reorder again

In [42]:
allCourses = allCourses.sort_values('Course_Code')

Next I think I need to create an equivelent of EOS in both 2020 and 2021, so I presume I need the lower score (or obviously some have only the one score)

In [43]:
allCourses

,Course_Title,PointsR1_2021,PointsR2_2021,PointsR1_2020,PointsR2_2020,EOS_2019
Course_Code,,,,,,
AC120,International Business,294,294,209,NaN,234
AC137,Liberal Arts,271,270,252,NaN,252
AD101,First Year Art and Design (Common Entry portfo...,#554,NaN,#+matric,NaN,# +mat
AD102,Graphic Design and Moving Image Design (portfo...,#538,NaN,#+matric,NaN,# +mat
AD103,Textile and Surface Design and Jewellery and O...,#505,NaN,#+matric,NaN,# +mat
...,...,...,...,...,...,...
WD211,Creative Computing,270,NaN,271,NaN,275
WD212,Recreation and Sport Management,262,NaN,270,NaN,274
WD230,Mechanical and Manufacturing Engineering,230,230,253,NaN,273
WD231,Early Childhood Care and Education,266,NaN,NaN,NaN,NaN
WD232,Business Information Systems,261,261,NaN,NaN,NaN

So I want to get rid of all of the unwnted characters and just leave numbers. I found a solution here - https://pretagteam.com/question/remove-characters-from-pandas-column
By looking through the dataset I've identified all of the things I want to remove and replace them with blank space.

In [44]:
allCourses = allCourses.replace('#', '', regex = True)
allCourses = allCourses.replace('AQA', '', regex = True)
allCourses = allCourses.replace('\*', '', regex = True)
allCourses = allCourses.replace('\+matric', '', regex = True)
allCourses = allCourses.replace('\+mat', '', regex = True)
allCourses = allCourses.replace('e\)', '', regex = True)
allCourses

,Course_Title,PointsR1_2021,PointsR2_2021,PointsR1_2020,PointsR2_2020,EOS_2019
Course_Code,,,,,,
AC120,International Business,294,294,209,NaN,234
AC137,Liberal Arts,271,270,252,NaN,252
AD101,First Year Art and Design (Common Entry portfo...,554,NaN,,NaN,
AD102,Graphic Design and Moving Image Design (portfo...,538,NaN,,NaN,
AD103,Textile and Surface Design and Jewellery and O...,505,NaN,,NaN,
...,...,...,...,...,...,...
WD211,Creative Computing,270,NaN,271,NaN,275
WD212,Recreation and Sport Management,262,NaN,270,NaN,274
WD230,Mechanical and Manufacturing Engineering,230,230,253,NaN,273
WD231,Early Childhood Care and Education,266,NaN,NaN,NaN,NaN
WD232,Business Information Systems,261,261,NaN,NaN,NaN

Save this version as a csv to file

In [45]:
# create a new path to save file to
pathAllCourses = 'data/CAOAllYears_' + nowstr + '.csv'

# saving amended file to folder
allCourses.to_csv(pathAllCourses)

<br>

### Some analysis

So I had to convert the columns to a numeric type to perform any kind of analysis. Probably a much easier way of doing this?  
I use the **describe()** function to do some exploring.

In [46]:
allCourses['PointsR1_2021'] = pd.to_numeric(allCourses['PointsR1_2021'])
x = allCourses['PointsR1_2021']
x.describe()

count     923.000000
mean      407.666306
std       128.706224
min        57.000000
25%       303.000000
50%       391.000000
75%       499.000000
max      1028.000000
Name: PointsR1_2021, dtype: float64

In [47]:
allCourses['PointsR2_2021'] = pd.to_numeric(allCourses['PointsR2_2021'])
y = allCourses['PointsR2_2021']
y.describe()

count    255.000000
mean     414.749020
std      141.693386
min       60.000000
25%      293.500000
50%      424.000000
75%      521.500000
max      904.000000
Name: PointsR2_2021, dtype: float64

In [48]:
allCourses['PointsR1_2020'] = pd.to_numeric(allCourses['PointsR1_2020'])
z = allCourses['PointsR1_2020']
z.describe()

count    1394.000000
mean      350.995696
std       134.433752
min        55.000000
25%       252.250000
50%       316.500000
75%       433.000000
max      1088.000000
Name: PointsR1_2020, dtype: float64

In [49]:
allCourses['PointsR2_2020'] = pd.to_numeric(allCourses['PointsR2_2020'])
a = allCourses['PointsR2_2020']
a.describe()

count    316.000000
mean     334.329114
std      142.016943
min      100.000000
25%      212.000000
50%      305.000000
75%      462.750000
max      768.000000
Name: PointsR2_2020, dtype: float64

Same method doesn't seem to work for the 2019 points? Relied on a different answer from the same page - https://stackoverflow.com/questions/39173813/pandas-convert-dtype-object-to-int

In [50]:
# allCourses['EOS_2019'] = allCourses['EOS_2019'].astype(int)
allCourses['EOS_2019'] = pd.to_numeric(allCourses['EOS_2019'], errors='coerce').fillna(0, downcast='infer')
b = allCourses['EOS_2019']
b.describe()

count    1649.000000
mean      205.523347
std       207.988613
min         0.000000
25%         0.000000
50%       251.000000
75%       360.000000
max       979.000000
Name: EOS_2019, dtype: float64

# THE END